
menu {
  width: 100%;
  display: block;
  font-family: coustard;
    font-size: 1em;
      background-color: #5e001d;
      color: #d5cdc5;
      text-align: center;
    line-height: 1.45em;
    letter-spacing: normal;
    word-spacing: normal;
    max-width: 100%;
    height: ;
    margin: 10px;
    padding: 20px;}
}

.menu-container {
  background-color: #fbfbf5
    margin: 0;
    padding: 0;
    width: 100%;
}

.tab {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
}

.menuitem:hover, .dropdown:hover {

}

.dropdown {
    display: inline-block;
    width: 10%;
    min-width: 100px;
    background-color: #5e001d;
}

.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 2em;
    background-color: #5e001d;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    z-index: 3;
    background-color: #5e001d;

}

.dropdown-content a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item:hover, .dropdown-item:hover a {
}
